@charset "UTF-8";


#GoogleAppsLogin .input_submit {
    border: 0;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 28px;
    text-indent: -9999px;
    cursor: pointer;
    background: transparent url(/opGoogleAppsPlugin/login.png) center top no-repeat;
}

